.content .container .form-reset,
.content .container .confirm-form,
.content .container .reset-complete {
  padding: 15px;
  box-shadow: 1px 3px 5px 2px rgba(214, 214, 214, 1);
}

.content .container .form-reset h4 {
  margin: 0;
}

.content .container .form-reset .control-group {
  margin: 15px 0;
}

.content .container .form-reset div.btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content .container .form-reset div.btns button,
.content .container .form-reset div.btns a,
.content .container .confirm-form div.btns button,
.content .container .confirm-form div.btns a {
  color: white;
  background-color: #9E9E9E;
  border-radius: 5px;
}

.content .container .form-reset div.btns button,
.content .container .confirm-form div.btns button {
  cursor: pointer;
  padding: 5px 8px;
  border: none;
  font-size: 14px;
}

.content .container .form-reset div.btns a, 
.content .container .confirm-form div.btns a {
  padding: 4px 8px;
  text-decoration: none;
}

.content .container p.reset-done {
  padding: 15px;
  box-shadow: 1px 3px 5px 2px rgba(214, 214, 214, 1);
}

.content .container .confirm-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content .container .confirm-form ul {
  list-style-type: none;
}