{% load static%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/password.css' %}">
{% load crispy_forms_tags %}
{% block content %}
	<div class="content">
		<div class="container">
			<form method="POST" class="form-reset">
				{% csrf_token %}
				<h4>Reset Password</h4>
				<p>
					Forgotten your password? Enter your email address below,
					and we'll email instructions for setting a new one.
				</p>
				<hr>
				{{ form|crispy }}
				<div class="btns">
					<button type="submit">Request Password Reset</button>
					<a href="{% url 'profile' %}">Cancel</a>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}