{% load static%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/password.css' %}">
{% load crispy_forms_tags %}
{% block content %}
	<div class="content">
		<div class="container">
			<form method="POST" class="confirm-form">
				{% csrf_token %}
					<h4>Reset Password</h4>
					{{ form|crispy }}
				<div class="btns">
					<button type="submit">Reset Password</button>
					<a href="{% url 'profile' %}">Cancel</a>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}